
/* canvas takes up entire screen */
canvas {
   width: 100%;
   height: 100%;
   background-color: #FEE140;
   background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
   
   position: absolute;
   z-index: 0;
}



body, html {
   height: 100%;
   margin: 0;
}

div {
   position: absolute;
   z-index: 1;
   padding: 0;
   margin-left: 50%;
   transform: translate(-50%)


  
  
}

.disappear {
   display:none;
}

button {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.0) ;
   border-style: none;
   color:#31C4BF;
  

}

div :focus {
   outline-style: none
}

h2 {
   font-family: 'Monoton', Helvetica, sans-serif;
   font-weight: 200;
   font-size: 14vw;
   margin: 0;
   padding: 0, 0;

}